<!DOCTYPE html>
<!--[if IE 9]><html lang="vi-VN" class="lt-ie9 ie9" {{ HTML_ATTRS }}><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html {{ HTML_ATTRS }}>
<!--<![endif]-->

<head>
  {{ HEAD }}
  <script type="application/ld+json">
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://bgift.vn",
      "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+84931931000",
      "contactType": "customer service"
      }],
      "address": {
      "@type": "PostalAddress",
      "addressLocality": "Danang, Vietnam",
      "postalCode": "550000",
      "streetAddress": "108 Nui Thanh, Hoa Cuong Bac, Hai Chau"
      },
      "email": "hi(at)glamme.vn",
      "name": "Glampy (glamme.vn)",
      "logo" : "https://bgift.vn/Content/Images/glampy-logo.png",
      "sameAs" : [ "https://www.facebook.com/bgift.vn"]
      }
  </script>

</head>

<body {{ BODY_ATTRS }}>
  <div id="fb-root"></div>
  {{ APP }}
</body>

</html>
