<template>
  <div>
    <div class="day" v-if="days >= 1">
      <span v-if="prefixMess">{{prefixMess}}</span>
      <span class="number"> {{ days }} ngày</span>
    </div>
    <div class="day" v-else-if="days == 0 && (hours > 0 || minutes > 0 || seconds > 0)">
      <span class="number">{{ fortmatNumber(hours) }} : </span>
      <span class="number">{{ fortmatNumber(minutes) }} : </span>
      <span class="number">{{ fortmatNumber(seconds) }}</span>
    </div>
    <div v-else class="message">{{ message }}</div>
  </div>
</template>

<script>
  export default {
    props: ['starttime','expiredMess', 'prefixMess'],
    data: function(){
      return{
        wordString: {},
        start: new Date(this.starttime).getTime(),
        interval: "",
        days:"",
        minutes:"",
        hours:"",
        seconds:"",
        message:""
      };
    },
    beforeMount () {
    },
    mounted(){
      // Update the count down every 1 second
      this.timerCount(this.start)
      this.interval = setInterval(() => {
          this.timerCount(this.start)
      }, 1000)
    },
    methods: {
      timerCount: function(start){
        // Get todays date and time
        var now = new Date().getTime()
        var distance = start - now
        if(distance <= 0 ){
          this.message = this.expiredMess
          this.$emit('expired')
          clearInterval(this.interval)
          return
        } else {
          this.calcTime(distance);
        }
      },
      calcTime: function(dist){
        this.days = Math.floor(dist / (1000 * 60 * 60 * 24))
        this.hours = Math.floor((dist % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
        this.minutes = Math.floor((dist % (1000 * 60 * 60)) / (1000 * 60))
        this.seconds = Math.floor((dist % (1000 * 60)) / 1000)
      },
      fortmatNumber (number) {
        return (number < 10 ? '0' : '') + number
      }
    }
  }
</script>