<template>
  <div>
    <input value="+84" id="country_code" />
    <input placeholder="phone number" id="phone_number"/>
    <button @click="smsLogin">Login via SMS</button>
  </div>
</template>

<script>
export default {
  methods: {
    smsLogin() {
      var countryCode = document.getElementById("country_code").value;
      var phoneNumber = document.getElementById("phone_number").value;
      AccountKit.login(
        'PHONE', 
        {countryCode: '', phoneNumber: ''},
        function loginCallback(response) {
          if (response.status === "PARTIALLY_AUTHENTICATED") {
            var code = response.code;
            var csrf = response.state;
            // Send code to server to exchange for access token
          }
          else if (response.status === "NOT_AUTHENTICATED") {
            // handle authentication failure
          }
          else if (response.status === "BAD_PARAMS") {
            // handle bad parameters
          }
        }
      )
    },
    // loginCallback(response) {
    //   if (response.status === "PARTIALLY_AUTHENTICATED") {
    //     var code = response.code;
    //     var csrf = response.state;
    //     // Send code to server to exchange for access token
    //   }
    //   else if (response.status === "NOT_AUTHENTICATED") {
    //     // handle authentication failure
    //   }
    //   else if (response.status === "BAD_PARAMS") {
    //     // handle bad parameters
    //   }
    // }
  },
  beforeCreate () {
    
  }
}
</script>

<style>

</style>
