<template>
  <transition> 
    <div>
      <section id="section-banner" class="section-no-banner">
        <search-bar :classCss="'header-no-banner'"/>
      </section>
      <section class="section-main" style="padding-top: 30px">
        <div class="container">
          <div class="row">
            <div class="main-content" style="top: 0">
              <div id="provider-section">
                <div class="main-content__head">
                  <div class="main-content__head-title">
                    <div class="main-content__head-title-img">
                      <img src="/img/store_icon.png" alt="">
                    </div>
                    <div class="main-content__head-title-title">
                      ĐỊA ĐIỂM ƯU ĐÃI
                    </div>
                  </div>
                  <!-- <div class="main-content__head-nav">
                    <ul class="main-content__head-nav-ul">
                      <li class="main-content__head-nav-li" @click="choosenItem(0)" :class="{ active : active_el == 0 }">
                        Nổi bật
                      </li>
                      <li class="main-content__head-nav-li" @click="choosenItem(1)" :class="{ active : active_el == 1 }">
                        Yêu thích
                      </li>
                      <li class="main-content__head-nav-li" @click="choosenItem(2)" :class="{ active : active_el == 2 }">
                        Ưu đãi HOT
                      </li>
                    </ul>
                  </div> -->
                </div>
                <div class="main-content__wrapper">
                  <div class="col-md-3 col-sm-6" v-for="item in listProviders" :key="item.id">
                    <div class="main-content__item">
                      <nuxt-link :to="``" :title="item.name">
                        <div class="main-content__item-img">
                          <img v-lazy="item.featureImage" :alt="item.name">
                        </div>
                        <div ref="provider" class="main-content__item-content">
                          <div class="main-content__item-title">
                            <h3>{{item.name}}</h3>
                          </div>
                          <div class="main-content__item-address">
                            {{item.address}}
                          </div>
                        </div>
                      </nuxt-link>
                    </div>
                  </div>
                  <spinner v-if="isLoadding" />
                </div>
                <div v-if="meta.totalPage > 1 && meta.page < meta.totalPage" class="main-content__footer">
                  <button @click="callPage(meta.page)" class="view-more-btn">
                    Xem thêm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>
<script>
import SearchBar from '@/components/commons/SearchBar'
import {mapSetters, mapGetters} from 'vuex'
import Spinner from '@/components/ui-kits/spinner'
import branchApi from '@/assets/js/api/branch'


export default {
  layout: 'master',
  components: {
    SearchBar,
    Spinner
  },
  async asyncData ({params, store}) {
    var paramsProvider = {
      parentId: -1,
      categoryId: -1,
      page: 1,
      rowPerPage: 12,
      orderBy: 'order', 
      order: 'asc' 
    }
    var listProviders = await branchApi.getAllProviders(paramsProvider)
    return {
      listProviders: listProviders.data,
      meta: listProviders.meta,
      providerSearchParams: paramsProvider
    }
  },
  data () {
    return {
      active_el: 1,
      isLoadding: false
    }
  },
  methods: {
    choosenItem (value) {
      // this.active_el = value
      // this.providerSearchParams.campainSortType = value
      // dealApi.getAllCampaign(this.hotDealSearchParams).then(rs => {
      //   this.listHotDeals = rs.data
      //   this.meta = rs.meta
      // })
    },
    callPage (page) {
      this.providerSearchParams.page= page + 1
      branchApi.getAllProviders(this.providerSearchParams).then(rs => {
        this.listProviders = this.listProviders.concat(rs.data)
        this.meta = rs.meta
      })
    }
  },
  mounted () {
    var providerBox = this.$refs.provider
    var maxHeight = 0
    if(providerBox){
      providerBox.forEach(element => {
        if(maxHeight <= element.offsetHeight) {
          maxHeight = element.offsetHeight 
        }
      })
      providerBox.forEach(element => {
        element.style.height = maxHeight + 'px';
      })
    }
  },
  head() {
    return {
      title: this.seoHome.seoTitle,
      meta:[
          { hid : "description", name: "description", content: this.seoHome.seoDescription },
          { hid: "og:title",  property: "og:title", content: this.seoHome.seoTitle},
          { hid: "og:url",  property: "og:url", content: this.currentUrl },
          { hid: "og:description",  property: "og:description", content: this.seoHome.seoDescription  },
          { hid: "og:image",  property: "og:image", content: this.seoHome.featureImage },
          { hid: "twitter:title",  name: "twitter:title", content: this.seoHome.seoTitle },
          { hid: "twitter:description",  name: "twitter:description", content: this.seoHome.seoDescription },
          { hid: "twitter:image",  name: "twitter:image", content:  this.seoHome.featureImage },
      ],
      link: [
        { hid: 'canonical',  rel:"canonical" , href: this.currentUrl},
      ]
    };
  }
}
</script>