<template>
  <transition> 
    <div>
      <section id="section-banner" class="section-no-banner">
        <search-bar :classCss="'header-no-banner'"/>
      </section>
      <section class="section-main" style="padding-top: 30px">
        <div class="container">
          <div class="row">
            <campaign-section :campaignDetail="campaignDetail" :listSameBranch="listSameBranch" style="margin-bottom: 50px"/>
            <div class="main-content" style="top: 0">
              <hot-deal-section />
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>
<script>
import SearchBar from '@/components/commons/SearchBar'
import HotDealSection from '@/components/pages/home/HotDealSection'
import CampaignSection from '@/components/pages/home/Campaign'
import dealApi from '@/assets/js/api/deal'
import {mapSetters, mapGetters} from 'vuex'

export default {
  layout: 'master',
  components: {
    SearchBar,
    HotDealSection,
    CampaignSection
  },
  async asyncData ({params}) {
    if(params.slug){
      var promiseAll = await Promise.all([
        dealApi.getCampaignDetailBySlug(params.slug),
        dealApi.getSameBranchs(params.slug),
      ])
      return {
        campaignDetail: promiseAll[0],
        listSameBranch: promiseAll[1]
      }
    }
  },
}
</script>