<template>
  <div class="col-md-3">
    <div id="section-profile__left">
      <div id="section-profile__user">
        <div id="section-profile__user-avata">
          <img :src="auth && auth.avatar" :alt="auth && auth.userFullName" />
        </div>
        <div id="section-profile__user-name">
          {{auth && auth.userFullName}}
        </div>
      </div>
      <div class="section-profile__nav">
        <nuxt-link to="/profile/cap-nhat">
          <div class="section-profile__nav-icon">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </div>
          <div class="section-profile__nav-text">
            Thông tin cá nhân
          </div>
        </nuxt-link>
      </div>
      <div class="section-profile__nav">
        <nuxt-link to="/profile">
          <div class="section-profile__nav-icon">
            <i class="fa fa-list" aria-hidden="true"></i>
          </div>
          <div class="section-profile__nav-text">
            Danh sách ưu đãi
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style>

</style>
