<template>
  <div>
  <div class="main-content" style="top: 0">
    <div id="deal-wrapper">
      <div id="deal-product">
        <div class="col-md-4 no-padding">
          <div class="deal-product-img">
            <img v-lazy="campaignDetail.product && campaignDetail.product.featureImage" :alt="campaignDetail.product && campaignDetail.product.name" />
          </div>
        </div>
        <div class="col-md-8 ">
          <div id="deal-product-nav"></div>
          <div id="deal-product-deal">
            <div v-if="campaignDetail.campaignDetail.discountType == 4" id="deal-product-deal__discount">
              <span class="deal-product-deal__discount-value">
                {{campaignDetail.campaignDetail.textDiffrentDiscountType}}
              </span>
            </div>
            <div v-else id="deal-product-deal__discount">
              <span class="deal-product-deal__discount-text" v-if="campaignDetail.campaignDetail.discountType == 3">Đồng giá:</span>
              <span class="deal-product-deal__discount-text" v-else>Giảm:</span>
              <span class="deal-product-deal__discount-value">
                {{campaignDetail.campaignDetail && showDiscountValue(campaignDetail.campaignDetail.discountValue, campaignDetail.campaignDetail.discountType)}}
              </span>
            </div>
            <div id="deal-product-deal__time-number">
              <div id="deal-product-deal__number" >
                Chỉ còn: <span class="deal-product-deal__text">{{campaignDetail.numberAvailable}} voucher</span>
              </div>
              <div id="deal-product-deal__time" >
                Hết hạn: <span class="deal-product-deal__text">
                  <count-down :starttime="formatDateTime(campaignDetail.campaign.endDateTime,'MM/DD/YYYY HH:mm:ss')" v-on:expired="expiredCountDown"></count-down>
                  </span>
              </div>
            </div>
          </div>
          <div id="deal-product-product">
            <div id="deal-product-title">
              {{campaignDetail.product && campaignDetail.product.name}}
            </div>
            <div id="deal-product-desc" v-html="campaignDetail.product && campaignDetail.campaign.description">
            </div>
            <div v-if="!isExpiredTime && campaignDetail.numberAvailable > 0" id="deal-product-btn" @click="getCodeClick">
              <div class="deal-product-btn-icon">
                <img src="/img/split_icon.png" alt="">
              </div>
              <div class="deal-product-btn-text">
                {{btnGetCodeText}}
              </div>
            </div>
            <div v-else class="disable_btn" id="deal-product-btn">
              <div class="deal-product-btn-icon">
                <img src="/img/split_icon.png" alt="">
              </div>
              <div class="deal-product-btn-text">
                {{btnGetCodeText}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="deal-branch">
        <div class="deal-branch__head">
          <div class="deal-branch__head-nav">
            <ul class="deal-branch__head-nav-ul">
              <li class="deal-branch__head-nav-li" @click="choosenItem(0)" :class="{ active : active_el == 0 }">
                Thông tin địa điểm
              </li>
              <li class="deal-branch__head-nav-li" @click="choosenItem(1)" :class="{ active : active_el == 1 }">
                Hình ảnh
              </li>
              <!-- <li class="deal-branch__head-nav-li" @click="choosenItem(2)" :class="{ active : active_el == 2 }">
                Nhận xét
              </li> -->
              <li class="deal-branch__head-nav-li" @click="choosenItem(3)" :class="{ active : active_el == 3 }">
                Bản đồ
              </li>
            </ul>
          </div>
        </div>
        <transition  mode="out-in">
          <div class="deal-branch__tab">
            <div id="deal-branch__tab-info" v-if="active_el == 0 && listSameBranch.length > 0">
              <div class="col-md-2">
                <div id="deal-branch__tab-infor-img">
                  <img v-lazy="listSameBranch[0].branch && listSameBranch[0].branch.featureImage" :alt="listSameBranch[0].branch && listSameBranch[0].branch.name">
                </div>
              </div>
              <div class="col-md-10">
                <div id="deal-branch__tab-infor-text">
                  <div id="deal-branch__tab-infor-title">
                   {{listSameBranch[0].branch && listSameBranch[0].branch.name}}
                  </div>
                  <div id="deal-branch__tab-infor-detail">
                    <div>Địa chỉ: {{listSameBranch[0].branch && listSameBranch[0].branch.address}}</div>
                    <!-- <div>Email: {{listSameBranch[0].branch && listSameBranch[0].branch.email}}</div>
                    <div>Phone: {{listSameBranch[0].branch && listSameBranch[0].branch.contactPhone}}</div> -->
                    <div v-html="listSameBranch[0].branch && listSameBranch[0].branch.description"></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="deal-branch__tab-gallery" v-if="active_el == 1">
              <div v-if="galleriesArray.length > 0">
                <div v-if="galleriesArray.length < 4">
                  <div class="col-md-3"  v-for="(item,index) in galleriesArray" :key="index">
                    <div class="branch-img">
                      <img v-lazy="item" :alt="listSameBranch[0].branch.name" />
                    </div>
                  </div>
                </div>
                <div v-else>
                  <no-ssr>
                    <slick ref="slick" :options="slickOptions">
                      <div class="branch-img" v-for="(item,index) in galleriesArray" :key="index">
                        <img :src="item" :alt="listSameBranch[0].branch.name" />
                      </div>
                    </slick>
                  </no-ssr>
                </div>
              </div>
            </div>
            <!-- <div id="deal-branch__tab-feedback" v-if="active_el == 2" >
              Nhận xét
            </div> -->
            <div id="deal-branch__tab-map" v-if="active_el == 3  && listSameBranch.length > 0">
              <div>
                <GmapMap
                  style="width: 100%; height: 400px;"
                  :zoom="17"
                  :center="{lat: marker.position.lat , lng: marker.position.lng }">
                  <GmapMarker :position="marker.position" />
                </GmapMap>
              </div>
            </div>
          </div>
        </transition>
      </div>
      <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
  </div>
  <modal-get-code v-if="campaignDetail && listSameBranch"
    :campaignDetail="campaignDetail"
    :listSameBranch="listSameBranch"
    :isGetCodeClick="isGetCodeClick"
    v-on:closeModal="closeModal" />
  </div>
</template>
<script>
import SearchBar from '@/components/commons/SearchBar'
import HotDealSection from '@/components/pages/home/HotDealSection'
import CountDown from '@/components/ui-kits/countdown'
import ModalGetCode from '@/components/pages/home/ModalGetCode'
import {DISCOUNT_VALUE} from '@/assets/js/commons/constants'
import funct from '@/assets/js/commons/functions'
import SendSMSApi from '@/assets/js/api/SendSMS'
import Slick from 'vue-slick'

export default {
  props: ['campaignDetail','listSameBranch'],
  components: {
    SearchBar,
    HotDealSection,
    CountDown,
    ModalGetCode,
    Slick
  },
  data () {
    return {
      slickOptions: {
        slidesToShow: 4,
        dots: false,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 2000,
        cssEase: "linear",
        lazyLoad: "ondemand"
      },
      btnGetCodeText: 'Lấy ưu đãi',
      isExpiredTime: false,
      active_el: 0,
      isGetCodeClick: false,
      marker: {
        position: {
          lat: parseFloat(this.listSameBranch[0] ? this.listSameBranch[0].branch.latitude:0),
          lng: parseFloat(this.listSameBranch[0] ? this.listSameBranch[0].branch.longitude:0)
        }
      },
      galleriesArray: (this.listSameBranch[0] && this.listSameBranch[0].branch.galleries ? this.listSameBranch[0].branch.galleries.split(','): [])
    }
  },
  methods: {

    choosenItem (value) {
      this.active_el = value
      this.isLoadding = !this.isLoadding
    },
    getCodeClick () {
      if(this.auth){
        this.isGetCodeClick = true
        document.body.classList.add('modal-body-custom');
      } else {
        this.showLoginModal()
      }
    },
    closeModal () {
      this.isGetCodeClick = false
      document.body.classList.remove('modal-body-custom');
    },
    showDiscountValue (value, type) {
      if(type == DISCOUNT_VALUE.percent){
        return value + '%'
      }
      if(type == DISCOUNT_VALUE.money || type == DISCOUNT_VALUE.sameprice){
        return this.formatDeal(value) + 'K'
      }
    },
    formatDateTime (value, format) {
      return funct.formatDate(value, format)
    },
    expiredCountDown () {
      this.btnGetCodeText = 'Khuyến mãi đã hết hạn'
      this.isExpiredTime = true
    },
    formatDeal (value) {
      if((value+'').length > 3){
        return funct.formatDeal(value)
      } else {
        return value
      }
    }
  }
}
</script>

<style>
 .mini-toastr {
   z-index: 99999999999;
 }
</style>

