<template>
  <div id="category-bar">
    <ul>
      <li class="category-bar__li" @click="choosenItem(-1)" :class="{ active : active_el == -1 }">
        <div class="category-bar__wrapper">
          <div class="category-bar__img">
            <img src="/img/categories_all.png" alt="">
          </div>
          <div class="category-bar__title">
            Tất cả
          </div>
        </div>
      </li>
      <li class="category-bar__li" @click="choosenItem(item.id)" :class=" { active : active_el == item.id }" v-for="item in listCategory.data" :key="item.id">
        <div class="category-bar__wrapper">
          <div class="category-bar__img">
            <img :src="item.icon" alt="">
          </div>
          <div class="category-bar__title">
            {{item.name}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import categoryApi from '@/assets/js/api/category'
import {mapGetters} from 'vuex'
export default {
  props: ['listCategory'],
  data () {
    return {
      active_el: -1
    }
  },
  methods: {
    choosenItem (id) {
      this.active_el = id;
      this.hotDealSearchParams.categoryId = id
      this.$store.dispatch('actionGetListHotDeals', this.hotDealSearchParams)
    }
  },
  computed: {
    ...mapGetters({
      hotDealSearchParams: 'getHotDealSearchParam'
    })
  },
  beforeMount (){
    if(this.hotDealSearchParams){
      this.active_el = this.hotDealSearchParams.categoryId
    }
  }
}
</script>