<template>
  <div id="hot-deal-section">
    <div class="main-content__head">
      <div class="main-content__head-title">
        <div class="main-content__head-title-img">
          <img src="/img/topdead_icon.png" alt="">
        </div>
        <div class="main-content__head-title-title">
          KHUYẾN MÃI HOT
        </div>
      </div>
      <div class="main-content__head-nav">
        <ul class="main-content__head-nav-ul">
          <li class="main-content__head-nav-li" @click="choosenItem(1)" :class="{ active : active_el == 1 }">
            Mới nhất
          </li>
          <!-- <li class="main-content__head-nav-li" @click="choosenItem(2)" :class="{ active : active_el == 2 }">
            Ưu đãi độc quyền
          </li> -->
          <li class="main-content__head-nav-li" @click="choosenItem(3)" :class="{ active : active_el == 3 }">
            Sắp kết thúc
          </li>
          <li class="main-content__head-nav-li" @click="choosenItem(4)" :class="{ active : active_el == 4 }">
            Nhiều người lấy mã
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content__wrapper">
      <div class="col-md-4 col-sm-6" v-for="item in listHotDeals.data" :key="item.campaignDetail.id">
        <div class="main-content__item">
          <img v-if="item.campaignDetail.labelType == 1" class="labelType" src="/img/labelType1.png" alt="">
          <img v-if="item.campaignDetail.labelType == 2" class="labelType" src="/img/labelType2.png" alt="">
          <nuxt-link :to="`/uu-dai/${item.campaignDetail.slug}`">
            <div class="main-content__branch">
              <div class="main-content__branch-img">
                <img v-lazy="item.shop && item.shop.featureImage" :alt="item.shop && item.shop.name">
              </div>
              <div class="main-content__branch-detail">
                <div class="main-content__branch-title">
                  {{item.shop && item.shop.name}}
                </div>
                <!-- <div class="main-content__branch-address">
                  {{item.shop && item.branch.address}}
                </div> -->
              </div>
            </div>
            <div class="main-content__item-img">
              <img v-lazy="item.product && item.product.featureImage" :alt="item.product && item.product.name">
            </div>
            <div class="main-content__deal-wrapper">
              <div ref="provider" class="main-content__item-deal">
                <div class="main-content__deal">
                  <div  v-if="item.campaignDetail.discountType == 1 || item.campaignDetail.discountType == 2" class="main-content__deal-fdiv">
                        Giảm
                  </div>
                  <div class="main-content__deal-fdiv"
                        v-if="item.campaignDetail.discountType == 3">
                        Đồng giá
                  </div>
                  <div class="main-content__deal-fdiv"
                        v-if="item.campaignDetail.discountType == 4" style="font-size:25px;">
                        {{item.campaignDetail.textDiffrentDiscountType}}
                  </div>
                  <div class="main-content__deal-sdiv">{{item.campaignDetail && showDiscountValue(item.campaignDetail.discountValue, item.campaignDetail.discountType)}}</div>
                  <div class="main-content__deal-tdiv" >
                    <count-down :prefixMess="`Còn`" :starttime="formatDateTime(item.campaign.endDateTime)" :expiredMess="'Đã hết hạn.'"></count-down>
                  </div>
                </div>
                <div class="main-content__product">
                  <div class="main-content__item-title">
                    <h3> {{item.product && item.product.name}}</h3>
                    <div class="price">
                      <span v-if="discountPrice(item.product.price, item.campaignDetail.discountValue, item.campaignDetail.discountType) == 0" class="price-after">Miễn phí</span>
                      <span v-else class="price-after">{{formatMoney(discountPrice(item.product.price, item.campaignDetail.discountValue, item.campaignDetail.discountType))}}</span>
                      <span v-if="item.campaignDetail.discountType != 4" class="price-before">{{formatMoney(item.product && item.product.price)}}</span>
                      <span v-else class="text-gift">{{item.campaignDetail.textGift}}</span>
                    </div>
                    <!-- <h3> {{item.campaign && item.campaign.name}} - {{item.product && item.product.name}}</h3> -->
                  </div>
                </div>
              </div>
              <div class="main-content__get-deal">
                <div class="main-content__get-deal-icon">
                  <img src="/img/split_icon.png" alt="">
                </div>
                <div class="main-content__get-deal-text">
                  LẤY ƯU ĐÃI
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <spinner v-if="isLoadding" />
    </div>
    <div class="main-content__footer">
      <nuxt-link to="/uu-dai" class="view-more-btn">
        Xem tất cả
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import {mapSetters, mapGetters} from 'vuex'
import Spinner from '@/components/ui-kits/spinner'
import {DISCOUNT_VALUE} from '@/assets/js/commons/constants'
import funct from '@/assets/js/commons/functions'
import CountDown from '@/components/ui-kits/countdown'

export default {
  components: {
    Spinner,
    CountDown
  },
  data () {
    return {
      active_el: 1,
      isLoadding: false
    }
  },
  methods: {
    choosenItem (value) {
      this.active_el = value
      this.hotDealSearchParams.campainSortType = value
      this.$store.dispatch('actionGetListHotDeals', this.hotDealSearchParams)
    },
    showDiscountValue (value, type) {
      if(type == DISCOUNT_VALUE.percent){
        return value + '%'
      }
      if(type == DISCOUNT_VALUE.money || type == DISCOUNT_VALUE.sameprice){
        return this.formatDeal(value) + 'K'
      }
    },
    formatDateTime (value) {
      return funct.formatDate(value, 'MM/DD/YYYY HH:mm:ss')
    },
    formatDeal (value) {
      if((value+'').length > 3){
        return funct.formatDeal(value)
      } else {
        return value
      }
    },
    formatMoney (value, unit){
      return funct.FormatThousand(value, 'đ')
    },
    discountPrice (value, discountValue, discountType) {
      if(discountType == DISCOUNT_VALUE.percent){
        return value - (value*discountValue)/100
      }
      if(discountType == DISCOUNT_VALUE.money || discountType == DISCOUNT_VALUE.sameprice){
        return value - discountValue
      }
      return value
    }
  },
  mounted () {
    // var providerBox = this.$refs.provider
    // var maxHeight = 0
    // providerBox.forEach(element => {
    //   if(maxHeight <= element.offsetHeight) {
    //     maxHeight = element.offsetHeight
    //   }
    // })
    // console.log(maxHeight)
    // providerBox.forEach(element => {
    //   element.style.height = maxHeight + 'px';
    // })
  },
  computed: {
    ...mapGetters({
      listHotDeals: 'getListHotDeals',
      hotDealSearchParams: 'getHotDealSearchParam'
    })
  },
  beforeMount () {
    if(this.hotDealSearchParams){
      this.active_el = this.hotDealSearchParams.campainSortType
    }
  }
}
</script>

<style>

</style>
