<template>
  <div id="how-it-work">
    <div id="how-it-work-title">
      DỄ DÀNG NHẬN ƯU ĐÃI
    </div>
    <div id="how-it-work-content">
      <div class="col-md-3 col-sm-3 no-padding">
        <div class="how-it-work-img">
          <img src="/img/login_icon.png" alt="Đăng nhập">
        </div>
        <div class="how-it-work-text">
          Đăng nhập chỉ với 1 click
        </div>
      </div>
      <div class="col-md-3 col-sm-3 no-padding">
        <div class="how-it-work-img">
          <img src="/img/dead_icon.png" alt="Đăng nhập">
        </div>
        <div class="how-it-work-text">
          Lựa chọn ưu đãi hấp dẫn
        </div>
      </div>
      <div class="col-md-3 col-sm-3 no-padding">
        <div class="how-it-work-img">
          <img src="/img/calendars_icon.png" alt="Đăng nhập">
        </div>
        <div class="how-it-work-text">
          Đặt lịch hẹn sử dụng ưu đãi
        </div>
      </div>
      <div class="col-md-3 col-sm-3 no-padding">
        <div class="how-it-work-img">
          <img src="/img/experience_icon.png" alt="Đăng nhập">
        </div>
        <div class="how-it-work-text">
          Trải nghiệm dịch vụ
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
