<template>
  <modal
    v-if="isGetCodeClick"
    @close="closeModal"
    :size="'custom'"
    :width="'560px'"
    class="modal-get-code"
    :showfooter="false"
    :showheader="false">
      <div slot="body">
        <div style="height: 90vh; margin-right: -15px" v-bar>
          <div>
            <div id="modal-get-code__policy">
              <div id="modal-get-code__policy-title" >Lấy ưu đãi này</div>
              <div id="modal-get-code__policy-desc" >
                Lưu ý: Bạn chỉ được nhận 3 ưu đãi miễn phí mỗi ngày!
              </div>
            </div>
            <div id="modal-get-code__product" v-if="campaignDetail">
              <div class="col-md-3 no-padding">
                <div id="modal-get-code__product-img" >
                  <img v-lazy="campaignDetail.product && campaignDetail.product.featureImage" :alt="campaignDetail.product && campaignDetail.product.name" />
                </div>
              </div>
              <div class="col-md-9">
                <div id="modal-get-code__product-text" >
                  <div id="modal-get-code__product-text-title" >
                    {{campaignDetail.campaign && campaignDetail.campaign.name}} - {{campaignDetail.product && campaignDetail.product.name}}
                  </div>
                  <div id="modal-get-code__product-text-desc" v-html="campaignDetail.product && campaignDetail.campaign.description">
                  </div>
                </div>
              </div>
            </div>
            <div id="modal-get-code__branch">
              <div v-if="errMess !== ''" class="modal-get-code__branch-select" >
                <div class="modal-get-code__branch-label" style="color: red">
                  Lỗi: {{errMess}}
                </div>
              </div>
              <div class="modal-get-code__branch-select" >
                <div class="modal-get-code__branch-label" >
                  Chi nhánh:
                </div>
                <div class="modal-get-code__branch-choosen" >
                  <select v-model="formData.branchId" class="form-control" @change="changeBranh">
                    <option v-for="item in listSameBranch" :key="item.id" :value="item.branch && item.branch.id">{{item.branch && item.branch.name}}</option>
                  </select>
                </div>
              </div>
              <div class="modal-get-code__branch-select" >
                <div class="modal-get-code__branch-label" >
                  Ngày đến:
                </div>
                <div class="modal-get-code__branch-choosen" >
                  <no-ssr>
                    <date-picker v-model="date" :config="configDate"></date-picker>
                  </no-ssr>
                </div>
              </div>
              <div class="modal-get-code__branch-select" >
                <div class="modal-get-code__branch-label" >
                  Thời gian đến:
                </div>
                <div class="modal-get-code__branch-choosen" >
                  <select v-model="formData.timeBooking" class="form-control" v-if="convertStringToDate(date) <= dtNow">
                    <option value="" selected="true">Chọn thời gian</option>
                    <option v-for="time in listTimeStep"
                            :key="time"
                            :value="time"
                            v-if="time.split(' - ')[0] > CurrentTime">
                      {{time}}
                    </option>
                  </select>
                  <select v-model="formData.timeBooking" class="form-control" v-else>
                    <option value="" selected="true">Chọn thời gian</option>
                    <option v-for="time in listTimeStep"
                            :key="time"
                            :value="time">
                      {{time}}
                    </option>
                  </select>

                </div>
              </div>
              <div id="modal-get-code__btn-wrapper" >
                <div id="modal-get-code__btn" @click="getCodeFinal" :class="[{ disable_btn: !isSubmitable }]">
                  Lấy ưu đãi
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </modal>
</template>
<script>
import moment from 'moment'
import Modal from '@/components/ui-kits/modal'
import discountCodeApi from '@/assets/js/api/discountCode'
import SendSMSApi from '@/assets/js/api/SendSMS'
import groupTextApi from '@/assets/js/api/grouptext'
import funct from '@/assets/js/commons/functions'
import striptags from 'striptags'

export default {
  components: {
    Modal
  },
  props: ['isGetCodeClick', 'listSameBranch', 'campaignDetail'],
  data () {
    return {
      errMess: '',
      isSubmitable: true,
      formData: {
        productId: 0,
        branchId: 0,
        campaignId: 0,
        accountId: 0,
        dateBooking: '',
        timeBooking: '',
        accountFullName: '',
        accountPhone: '',
        accountEmail: ''
      },
      sms: {
        BrandName: 'CTNET',
        Sendtime: '20180522151500',
        RequestId: 0,
        MessageItems: [
          {
            Phone: '',
            Message: ''
          }
        ]
      },
      date: moment().startOf('day'),
      configDate: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
        minDate: moment().startOf('day'),
        maxDate: this.campaignDetail.campaign.endDateTime
      },
      listTimeStep: [],
      smsTemplate: `Hệ thống Bgift thông báo. Có {name} - {phone} đặt dịch vụ {product} tại {branch} vào lúc {time} ngày {date}`
    }
  },
  computed: {
    CurrentTime: function() {
      return this.addZero(new Date().getHours())+":"+this.addZero(new Date().getMinutes())
    },
    dtNow: function() {
      return moment().startOf('day')
    }
  },
  methods: {
    addZero(i) {
      if (i < 10) {
          i = "0" + i;
      }
      return i;
    },
    convertStringToDate(date){
      return moment(date, 'DD/MM/YYYY').toDate();
    }
    ,
    closeModal () {
      this.$emit('closeModal')
    },
    getCodeFinal () {
      if(this.formData.timeBooking == "") {
        this.showNotification({
          title: 'Đã có lỗi xảy ra',
          message: 'Chưa chọn thời gian',
          type: 'error'
        })
        return false
      }
      if(this.auth) {
        this.formData.accountEmail = this.auth.userEmail
        this.formData.accountFullName = this.auth.userFullName
        this.formData.accountPhone = this.auth.accountKitNumber
        this.formData.accountId = this.auth.id
        if(this.isSubmitable) {
          this.isSubmitable = false
          this.formData.dateBooking = moment(this.date,'DD/MM/YYYY').format()
          discountCodeApi.createCode(this.$authToken, this.formData).then(rs => {
            this.showNotification({
              title: 'Nhận mã thành công',
              message: 'Bạn đã nhận mã khuyến mãi thành công.',
              type: 'success'
            })
            // gửi sms
            this.sms.RequestId = rs.discountCode.id
            this.sms.MessageItems[0].Phone = rs.branch.smsPhone
            this.sms.MessageItems[0].Message = this.smsTemplate.replace('{name}', rs.discountCode.accountFullName)
                                                               .replace('{product}', rs.product.name)
                                                               .replace('{phone}', this.auth.accountKitNumber)
                                                               .replace('{branch}', rs.branch.name)
                                                               .replace('{time}', rs.discountCode.timeBooking)
                                                               .replace('{date}', this.formatDateTime(rs.discountCode.dateBooking, 'DD-MM-YYYY'))
            this.sendSMS(this.sms)
            this.closeModal()
            this.$router.push(`/profile/chi-tiet-uu-dai/${rs.discountCode.code}`)
          }).catch(err => {
            this.errMess = err.data
            this.showNotification({
              title: 'Nhận mã không thành công',
              message: `${err.data}`,
              type: 'error'
            })
          })
        }
      } else {
        this.showLoginModal()
      }
    },
    changeBranh () {
      var itemChoosen = this.listSameBranch.find(e => {
        if(e.id == this.formData.branchId) return e
      });
      this.listTimeStep = itemChoosen.listTimeStep
    },
    sendSMS(obj){
      SendSMSApi.sendSMS(obj).then(data => {
      }).catch((err) => {
      })
    },
    formatDateTime (value, format) {
      return funct.formatDate(value, format)
    }
  },
  beforeMount () {
    if(this.listSameBranch.length){
      this.listTimeStep = this.listSameBranch[0].listTimeStep
      this.formData.branchId = this.listSameBranch[0].branch ? this.listSameBranch[0].branch.id : 0
    }
    this.formData.dateBooking = new Date()
    this.formData.timeBooking = this.listTimeStep && ""
    this.formData.productId = this.campaignDetail.product ? this.campaignDetail.product.id : 0,
    this.formData.campaignId = this.campaignDetail.campaign ? this.campaignDetail.campaign.id : 0
    if(this.auth) {
      this.formData.accountEmail = this.auth.userEmail
      this.formData.accountFullName = this.auth.userFullName
      this.formData.accountPhone = this.auth.userPhone
      this.formData.accountId = this.auth.id
    }
    groupTextApi.getGroupTextBySlug('','sms-template').then(rs => {
      if(rs){
        this.smsTemplate = striptags(rs.data.groupText.description)
      }
    })
  }
}
</script>
