<template>
  <div id="provider-section">
    <div class="main-content__head">
      <div class="main-content__head-title">
        <div class="main-content__head-title-img">
          <img src="/img/store_icon.png" alt="">
        </div>
        <div class="main-content__head-title-title">
          ĐỊA ĐIỂM ƯU ĐÃI
        </div>
      </div>
      <!-- <div class="main-content__head-nav">
        <ul class="main-content__head-nav-ul">
          <li class="main-content__head-nav-li" @click="choosenItem(0)" :class="{ active : active_el == 0 }">
            Nổi bật
          </li>
          <li class="main-content__head-nav-li" @click="choosenItem(1)" :class="{ active : active_el == 1 }">
            Yêu thích
          </li>
          <li class="main-content__head-nav-li" @click="choosenItem(2)" :class="{ active : active_el == 2 }">
            Ưu đãi HOT
          </li>
        </ul>
      </div> -->
    </div>
    <div class="main-content__wrapper">
      <div class="col-md-3 col-sm-6" v-for="item in listProviders && listProviders.data" :key="item.id">
        <div class="main-content__item">
          <nuxt-link :to="``" :title="item.name">
            <div class="main-content__item-img">
              <img v-lazy="item.featureImage" :alt="item.name">
            </div>
            <div ref="provider" class="main-content__item-content">
              <div class="main-content__item-title">
                <h3>{{item.name}}</h3>
              </div>
              <div class="main-content__item-address">
                {{item.address}}
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <spinner v-if="isLoadding" />
    </div>
    <div class="main-content__footer">
      <nuxt-link to="/dia-diem" class="view-more-btn">
        Xem tất cả
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import {mapSetters, mapGetters} from 'vuex'
import Spinner from '@/components/ui-kits/spinner'
export default {
  components: {
    Spinner
  },
  data () {
    return {
      active_el: 0,
      isLoadding: false
    }
  },
  methods: {
    choosenItem (value) {
      this.active_el = value
      this.isLoadding = !this.isLoadding
    }
  },
  computed: {
    ...mapGetters({
      listProviders: 'getListProviders'
    })
  },
  mounted () {
    var providerBox = this.$refs.provider
    var maxHeight = 0
    if(providerBox){
      providerBox.forEach(element => {
        if(maxHeight <= element.offsetHeight) {
          maxHeight = element.offsetHeight 
        }
      })
      providerBox.forEach(element => {
        element.style.height = maxHeight + 'px';
      })
    }
  }
}
</script>

<style>

</style>
