@import "variable.scss";
/*Header Search*/
.modal-body-custom{
  overflow: hidden;
}
#header-search--absolute{
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}
#header-search{
  padding: 30px 0;
  display: inline-block;
  width: 100%;
}
.header-no-banner{
  padding: 15px 0 !important;
}
#header-search__logo{
  width: 100%;
}
#header-search__logo img{
  width: 120px;
}
.header-search--top-10{
  top: 10px
}
#header-search__search-bar{
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.22);
  border-radius: 6px;
  display: inline-block;
  width: 100%;
}
#header-search__local{
  float: left;
  width: 20%;
}
#header-search__other{
  float: left;
  width: 20%;
}
#header-search__keyword{
  float: left;
  width: 60%;
  padding-left: 20px
}
#header-search__search-bar select{
  border: none;
  font-family: $font-text;
  font-weight: $font-medium;
  font-size: 14px;
  color: #5D5D5D;
  padding: 10px 20px;
  outline: none;
  width: 100%;
  text-indent: 10px;
  line-height: 31px;
}
#header-search__local select{
  border-radius: 6px
}
#header-search__keyword input{
  border: none;
  font-family: $font-text;
  font-weight: $font-medium;
  font-size: 14px;
  color: #505050;
  line-height: 24px;
  border-radius: 6px;
  outline: none;
  width: 90%;
}
#header-search__keyword input::placeholder{
  opacity: 0.41;
}
#header-search__keyword i{
  padding: 13px 10px
}
#header-search__login{
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.22);
  border-radius: 6px;
  display: inline-block;
  width: 100%;
}
#header-search__user{
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
#header-search__user a{
  text-decoration: none;
  color: #5D5D5D;
  display: block;
  width: 75%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
#header-search__user--icon{
  padding-left: 5px
}
#header-search__user--name{
  padding-right: 5px;
}


/*Banner*/
#section-banner{
  position: relative;
}
#section-banner__banner{

}
#section-banner__banner img{
  width: 100%;
}
.section-no-banner{
  background:#E56593;
}
/*Footer*/
#section-footer{
  background: #EEEEEE;
  padding-top: 70px;
  position: relative;
  top:-30px;
  z-index: 0;
}
.footer-select-deal{
  top:-50px !important;
}
/*Home Main*/
.section-main{
  background: #f7f7f7;
}
.main-content{
  background: #FFFFFF;
  position: relative;
  top: -78px;
  box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.16);
  border-radius: 3px;
  z-index: 1;
  display: inline-block;
  width: 100%;
}
/*Category bar*/
#category-bar{
  // border-bottom: 2px solid rgba(191, 191, 191,0.37);
}
#category-bar ul{
  margin-bottom: 0;
  border-bottom: 2px solid rgba(191, 191, 191,0.37);
}
.category-bar__li{
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #4A4A4A;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: -2px
}
.category-bar__li::after{
  content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.category-bar__li:hover::after, #category-bar li.active::after{
  width: 100%;
  background: #E56593;
}
.category-bar__li a{
  color: #4A4A4A;
  text-decoration: none;
  text-align: center;
}
.category-bar__wrapper{
  padding: 20px 40px;
}
.category-bar__img{
  width: 18px;
  height: 18px;
  margin: 0 auto;
}
.category-bar__img img{
  width: 100%;
  height: auto;
}
.category-bar__title{
  padding-top: 10px;
  font-weight: 500
}
/*Provider section*/
.main-content__head{
  background: rgba(219, 219, 219, 0.36);
  padding-top: 20px;
}
.main-content__head-title{
  padding-left: 40px;
  padding-bottom: 15px;
  display: table;
}
.main-content__head-title div{
  display: table-cell;
}
.main-content__head-title-img{
  width: 30px;
  height: 30px;
}
.main-content__head-title-img img{
  width: 100%;
  height: auto;
}
.main-content__head-title-title{
  vertical-align: middle;
  padding-left: 20px;
  font-size: 20px;
  color: #E56593;
  line-height: 24px;
  font-weight: $font-bold
}
.main-content__head-nav-ul{
  padding-left: 10px;
}
.main-content__head-nav-ul .active{
  background: #E56593;
  border-radius: 3px;
  color: #FFFFFF
}
.main-content__head-nav-li{
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #4A4A4A;
  font-weight: $font-medium
}
.main-content__wrapper{
  padding: 10px 15px;
  display: inline-block;
  width: 100%;
  position: relative;
}
.main-content__wrapper a{
  color: inherit;
  text-decoration: none
}
.main-content__item{
  padding-bottom: 20px
}
.main-content__item-img{
  width: 100%;
  height: 192px;
  position: relative;
  overflow: hidden;
  margin-bottom: -1px
}
.main-content__item-img img{
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
.main-content__item-content{
  border: 1px solid #ebebeb;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px
}
.main-content__item-title h3{
  font-size: 19px;
  color: #444444;
  line-height: normal;
}
.main-content__item-address{
  font-size: 14px;
  color: #444444;
  line-height: 17px;
}
/*Hot deal section*/
#hot-deal-section {

}
#hot-deal-section .main-content__item{
  padding-bottom: 35px;
  padding-top:20px;
  transition: all .2s ease-in-out;
  position: relative;
  margin: 20px 0;
}
#hot-deal-section .main-content__item .labelType {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 60px;
}
#hot-deal-section .main-content__branch{
  display: flex;
  width: 100%;
  padding: 5px 10px;
}
#hot-deal-section .main-content__branch-detail{
  // display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  width: calc(100% - 50px);
}
#hot-deal-section .main-content__branch-title{
  font-size: 18px;
  color: #4A4A4A;
  line-height: 24px;
  font-weight: $font-bold;
  width: 70%;
  margin-top: -3px;
}
#hot-deal-section .main-content__branch-address{
  font-size: 12px;
  color: #4A4A4A;
  line-height: 24px;
  font-weight: $font-regular;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
#hot-deal-section .main-content__branch-img{
  // display: table-cell;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}
#hot-deal-section .main-content__branch-img img{
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}
#hot-deal-section .main-content__item-img{
  overflow: hidden;
  width: 100%;
  height: 260px;
  position: relative;
  margin-bottom: 0
}
#hot-deal-section .main-content__item-img img{
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}

#hot-deal-section .main-content__deal-wrapper{
  position: relative;
}
#hot-deal-section .main-content__item-deal{
  display: table;
  width: 100%;
  border: 1px solid #ebebeb;
  vertical-align: middle
}
#hot-deal-section .main-content__deal{
  display: table-cell;
  width: 30%;
  border-right: 1px dashed #BDBDBD;
  padding: 10px 10px 50px 10px;
}
#hot-deal-section .main-content__deal-fdiv{
  font-size: 16px;
  color: #E56593;
  line-height: 24px;
  font-weight: $font-medium
}
#hot-deal-section .main-content__deal-sdiv{
  font-size: 30px;
  color: #E56593;
  line-height: 24px;
  padding: 5px 0;
  font-weight: $font-bold
}
#hot-deal-section .main-content__deal-tdiv{
  font-size: 12px;
  color: #686868;
  line-height: 24px;
  font-weight: $font-medium
}
#hot-deal-section .main-content__product{
  display: table-cell;
  width: 68%;
  vertical-align: middle;
  padding-left: 20px
}
#hot-deal-section .main-content__product h3{
  margin: 0
}
#hot-deal-section .main-content__product .text-gift{
  font-size: 14px;
  color: #4A4A4A;
  line-height: 24px;
  font-weight: 700;
  display: block;
}
#hot-deal-section .main-content__get-deal{
  display: table;
  width: 100%;
  background: #E56593;
  color: #FFFFFF;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
}
#hot-deal-section .main-content__item:hover {
  box-shadow: -1px 0px 16px 4px rgba(0,0,0,0.16);
  transform: scale(1.01);
}
#hot-deal-section .main-content__item:hover .main-content__get-deal{
  opacity: 1;
}
#hot-deal-section .main-content__item:hover .main-content__item-deal{
  border-left: none;
  border-right: none;
}
#hot-deal-section .main-content__get-deal-icon{
  display: table-cell;
  width: 20%;
  height: 35px;
  position: relative;
  overflow: hidden;
}
#hot-deal-section .main-content__get-deal-icon img{
  display: block;
  width: 100%;
  position: absolute;
  top: -9px;
}
#hot-deal-section .main-content__get-deal-text{
  display: table-cell;
  width: 68%;
  vertical-align: middle;
  font-weight: $font-medium
}
/*Deal*/
.no-padding{
  padding: 0
}
#deal-wrapper{
  display: block;
  float: left;
  width: 100%;
}
#deal-product{
  display: inline-block;
  width: 100%;
}
#deal-branch{
  display: block;
  float: left;
  width: 100%;
}
.deal-product-img{
  position: relative;
  height: 312px;
  width: 100%;
  display: block;
  overflow: hidden;
}
.deal-product-img img{
  padding: 15px;
  position: absolute;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
}
#deal-product-deal{
  margin: 20px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: table;
}
#deal-product-deal__discount{
  padding: 15px 10px;
  display: table-cell;
  width: 40%;
  vertical-align: middle;
  border-right: 1px dashed #ccc
}
#deal-product-deal__time-number{
  font-weight: $font-medium;
  font-size: 18px;
  color: #444444;
  display: table-cell;
  width: 60%;
  vertical-align: middle;
  border-left: 1px dashed #ccc;
}
#deal-product-deal__number{
  display: flex;
  padding: 5px 30px;
  vertical-align: middle;
  width: 100%;
  border-bottom: 1px dashed #ccc;
}
.deal-product-deal__text{
  padding-left: 10px;
  color: #E56593;
  font-weight: $font-bold
}
#deal-product-deal__time{
  display: flex;
  padding: 5px 30px;
  vertical-align: middle;
  width: 100%;
  border-top: 1px dashed #ccc;
}
.deal-product-deal__discount-text{
  font-size: 18px;
  color: #444444;
  line-height: 24px;
  font-weight: $font-bold;
  padding: 0 10px;
}
.deal-product-deal__discount-value{
  font-size: 25px;
  color: #E56593 ;
  line-height: 24px;
  font-weight: $font-bold;
  padding: 0;
}
#deal-product-product{
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
#deal-product-title{
  font-size: 28px;
  color: #4A4A4A;
  line-height: 24px;
  font-weight: $font-bold
}
#deal-product-desc{
  width: 100%;
  padding-top: 20px;
  font-size: 18px;
  font-family: $font-text !important;
  line-height: 24px;
  font-weight: $font-medium
}
#deal-product-btn{
  display: inline-block;
  background: #E56593;
  border-radius: 3px;
  width: 30%;
  color: #FFFFFF;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}
.deal-product-btn-icon {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35%;
  overflow: hidden;
}
.deal-product-btn-icon img{
  width: 100%;
  display: block;
  position: absolute;
  top: -5px
}
.deal-product-btn-text {
  display: inline-block;
  width: 60%;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  font-weight: $font-medium;
  padding-left: 10px;
  position: absolute;
  top: 7px;
}
.deal-branch__head{
  background: rgba(219, 219, 219, 0.36);
  padding-top: 15px;
}
.deal-branch____head-nav-ul{
  padding-left: 10px;
}
.deal-branch__head-nav-ul .active{
  background: #E56593;
  border-radius: 3px;
  color: #FFFFFF
}
.deal-branch__head-nav-li{
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #4A4A4A;
  font-weight: $font-medium
}
.deal-branch__tab {
  display: inline-block;
  width: 100%;
  padding: 20px 15px;
}
#deal-branch__tab-info{
  display: inline-block;
  width: 100%;
}
#deal-branch__tab-infor-img{
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 145px;
}
#deal-branch__tab-infor-img img{
  width: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
#deal-branch__tab-infor-title{
  font-size: 24px;
  color: #444444;
  line-height: 24px;
  font-weight: $font-bold;
  padding-bottom: 20px
}
#deal-branch__tab-infor-detail{
  font-size: 14px;
  color: #444444;
  line-height: 24px;
  font-weight: $font-medium
}
.modal-get-code .modal-container{
  background: #FFFFFF;
  border-radius: 11px !important;
}
.modal-login .modal-container{
  background: #FFFFFF;
  border-radius: 11px !important;
}
#modal-get-code__policy{
  text-align: center;
  width: 70%;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid  #EDEDED
}
#modal-get-code__policy-title{
  font-size: 24px;
  color: #3E3E3E;
  line-height: 31px;
  font-weight: $font-bold
}
#modal-get-code__policy-desc{
  opacity: 0.77;
  font-weight: $font-medium;
  font-size: 14px;
  color: #3E3E3E;
  line-height: 19px;
  padding-top: 5px
}
#modal-get-code__product{
  display: inline-block;
  width: 100%;
  padding: 20px 0
}
#modal-get-code__product-img{
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 125px;
}
#modal-get-code__product-img img{
  display: block;
  width: 100%;
  position: absolute;
  margin:  auto;
  left: 0;
  right: 0;
}
#modal-get-code__product-text-title {
  font-size: 24px;
  color: #444444;
  line-height: 24px;
  font-weight: $font-bold
}
#modal-get-code__product-text-desc{
  font-size: 14px;
  font-family: $font-text !important;
  line-height: 18px;
  font-weight: $font-medium;
  padding-top: 20px
}
#modal-get-code__branch {
  text-align: center;
  width: 70%;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid  #EDEDED
}
.modal-get-code__branch-select{
  padding: 8px 15px
}
.modal-get-code__branch-label{
  opacity: 0.77;
  font-weight: $font-medium;
  font-size: 14px;
  color: #3E3E3E;
  line-height: 19px;
  padding-bottom: 10px
}
.modal-get-code__branch-choosen {
  width: 100%;
}
.modal-get-code__branch-choosen select{
  width: 90%;
  height: 34px;
  border-radius: 6px;
  font-size: 16px;
  color: #444444;
  line-height: 18px;
  font-weight: $font-medium;
}
.modal-get-code__branch-choosen .form-control{
  width: 90%;
  height: 34px;
  border-radius: 6px;
  font-size: 16px;
  color: #444444;
  line-height: 18px;
  font-weight: $font-medium;
  margin: 0 auto;
}
#modal-get-code__btn-wrapper{
  width: 100%;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
}
#modal-get-code__btn{
  width: 90%;
  margin: 0 auto;
  background: #E56593;
  border-radius: 5px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  font-weight: $font-medium;
  padding: 5px 5px;
  cursor: pointer;
}
/*Profile section*/
#section-profile{
  padding-top: 40px;
  position: relative;
  z-index: 1;
  min-height: 90vh
}
#section-profile__right{
  background: #FFFFFF;
  box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.08);
  border-radius: 3px;
  display: inline-block;
  width: 100%;
}
#section-profile__user-avata{
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 50%
}
#section-profile__user-avata img{
  display: block;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}
#section-profile__user-name{
  display: inline-block;
  width: calc(100% - 60px);
  font-size: 18px;
  color: #5D5D5D;
  line-height: 24px;
  font-weight: $font-bold;
  padding-left: 20px;
  position: relative;
  top: -15px
}
.section-profile__nav {
  padding-top: 20px;
  opacity: 0.88;
}
.section-profile__nav a{
  font-weight: $font-medium;
  font-size: 16px;
  color: #5D5D5D;
  line-height: 24px;
  text-decoration: none
}
.section-profile__nav-icon{
  display: inline-block;
  width: 50px;
}
.section-profile__nav-text{
  display: inline-block;
  width: calc(100% - 60px);
}
.border-right{
  border-right: 1px dashed #ccc
}
.border-left{
  border-left: 1px dashed #ccc
}
.section-profile__info-span{
  display: block;
  opacity: 0.56;
  font-weight: $font-medium;
  font-size: 13px;
  color: #444444;
  line-height: 24px;
  // padding: 0 15px
}
.section-profile__info-label{
  display: block;
  font-weight: $font-medium;
  font-size: 16px;
  color: #444444;
  line-height: 24px;
}
#section-profile__info{
  display: inline-block;
  width: 100%;
  padding: 25px 15px;
}
#section-profile__info-title{
  font-weight: $font-bold;
  font-size: 24px;
  color: #E56593;
  line-height: 24px;
}
#section-profile__qr-box{
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center
}
#section-profile__qr-box-img{
  width: 40%;
  margin: 0 auto;
  padding: 20px 0
}
#section-profile__qr-box-img img{
  width: 100%;
}
#section-profile__qr-box-head{
  font-weight: $font-bold;
  font-size: 16px;
  color: #444444;
  line-height: 24px;
  padding: 10px 15px;
  background: #EDF2F5;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px
}
#section-profile__qr-box-code{
  font-weight: $font-bold;
  font-size: 30px;
  color: #E56593;
  letter-spacing: 5px;
  line-height: 24px;
}
#section-profile__qr-box-note{
  font-weight: $font-medium;
  font-size: 16px;
  color: #444444;
  line-height: 24px;
  padding: 20px 0
}
#section-profile__product{
  display: inline-block;
  width: 100%;
  padding: 25px 15px;
}
#section-profile__product-img{
  width: 100%;
}
#section-profile__product-img img{
  width: 100%;
}
#section-profile__product-title{
  font-weight: $font-bold;
  font-size: 24px;
  color: #444444;
  line-height: 30px;
  padding: 10px 0
}
#section-profile__product-desc{
  font-weight: $font-medium;
  font-size: 16px;
  font-family: $font-text !important;
  line-height: 24px;
}
#section-profile__product-branch-img{
  display: inline-block;
  width: 70px;
  height: 70px;
}
#section-profile__product-branch-img img{
  width: 100%;
}
#section-profile__product-branch-info{
  display: inline-block;
  width: calc(100% - 80px);
  padding-left: 15px;
  vertical-align: middle
}
#section-profile__product-branch{
  padding-top: 6px
}
#section-profile__product-branch-info-title{
  font-weight: $font-bold;
  font-size: 16px;
  color: #444444;
}
#section-profile__product-branch-info-address{
  font-weight: $font-regular;
  font-size: 14px;
  color: #444444;
}
/*List deal*/
#deal-item-title{
  padding-top: 20px;
  font-weight: $font-bold;
  font-size: 24px;
  color: #E56593;
  line-height: 24px;
}
.deal-item{
  width: 100%;
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}
.deal-item__img{
  width: 100%;
  height: 146px;
  position: relative;
  overflow: hidden;
}
.deal-item__img img{
  width: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
.deal-item__main-title{
  font-weight: $font-bold;
  font-size: 18px;
  color: #444444;
  line-height: 24px;
}
.deal-item__main-desc{
  font-weight: $font-medium;
  font-size: 14px;
  font-family: $font-text !important;
  line-height: 18px;
  padding: 10px 0
}
.deal-item__main-label{
  opacity: 0.56;
  font-weight: $font-medium;
  font-size: 13px;
  color: #444444;
  line-height: 24px;
}
.deal-item__main-time{
  font-weight: $font-medium;
  font-size: 14px;
  color: #444444;
  line-height: 24px;
}
.deal-item__status{
  text-align: right
}
.deal-item__status-label{
  opacity: 0.56;
  font-weight: $font-medium;
  font-size: 13px;
  color: #444444;
  line-height: 24px;
}
.deal-item__status-icon{
  color: #ccc;
  padding: 15px 10px
}
.deal-item__status-icon-active{
  color: #4A90E2;
}
.deal-item__status-status{
  font-weight: $font-medium;
  font-size: 14px;
  color: #444444;
  line-height: 24px;
}
#profile-update-form label{
  font-weight: $font-medium;
  opacity: 0.86;
  font-size: 13px;
  color: #444444;
  line-height: 24px;
}
.disable_btn{
  cursor: no-drop !important;
  opacity: 0.4;
}
#how-it-work{
  text-align: center;
  padding: 20px;
  display: inline-block;
  width: 100%;
}
#how-it-work-title{
  padding-bottom: 20px;
  font-size: 20px;
  color: #E56593;
  line-height: 24px;
  font-weight: $font-bold;
}
.how-it-work-text{
  padding-top: 10px;
  font-weight: $font-medium;
  font-size: 16px
}
.logo-footer{
  padding-bottom: 20px
}
.desc-footer{
  font-weight: $font-regular;
  font-size: 15px;
  color: #4A4A4A;
  line-height: 30px;
}
.desc-footer > p{
  width: 80%;
  text-align: justify
}
.footer-title{
  font-weight: $font-regular;
  font-size: 24px;
  color: #4A4A4A;
  line-height: 24px;
  padding-bottom: 20px
}
.nav-footer > ul{
  padding: 0
}
.nav-footer > ul > li {
  list-style: none;
  font-weight: $font-regular;
  font-size: 15px;
  color: #4A4A4A;
  line-height: 30px;
}
.nav-footer > ul > li > a{
  font-weight: $font-regular;
  font-size: 15px;
  color: #4A4A4A;
  line-height: 30px;
  text-decoration: none
}
.social-btn{
  text-decoration: none;

}
.social-btn i{
  font-size: 25px;
  padding: 0px 5px;
}
.slick-slide{
  padding: 0 10px
}
.branch-img{
  height: 200px;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.branch-img img{
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.landing-title{
  text-align: center;
  background: #f7f7f7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 24px;
  color: #e56593;

  line-height: 24px;
  padding: 15px 0;
  font-weight: $font-bold;
}
.landing-content{
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 40px;
}
.landing-content span{
  font-family: $font-text !important
}
.vb > .vb-dragger {
  z-index: 5;
  width: 10px;

  right: 0;
}
.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
  transition:
      background-color 100ms ease-out,
      margin 100ms ease-out,
      height 100ms ease-out;
  background-color: rgba(48, 121, 244,.1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244,.5);
}
.main-content__footer{
  text-align: center;
  padding-bottom: 20px
}
.view-more-btn{
  text-decoration: none;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  color: #FFFFFF;
  font-weight: 500;
  background: #e56593
}
.view-more-btn:hover{
  text-decoration: none;
  color: #FFFFFF;
}
.price{
  padding: 10px 0
}
.price > span{
  padding-right: 15px
}
.price-after{
  color: #e56593;
  font-size: 16px;
  font-weight: $font-medium
}
.price-before{
  text-decoration: line-through
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-content{
    top: 0
  }
  #header-search--absolute {
    position: relative;
    text-align: center;
    background: #e56593
  }
  #header-search{
    padding: 10px 0 !important;
    text-align: center;
  }
  #header-search__login{
    position: relative;
    bottom: -10px;
    border-radius: 0px;
  }
  #how-it-work-content > div{
    padding: 10px 0
  }
  .section-main{
    padding-bottom: 20px
  }
  #section-footer {
    padding-top: 50px;
  }
  .mobile-padding{
    padding: 0px 15px
  }
  #deal-product-deal{
    width: 100%;
    margin: 0
  }
  #deal-product-deal__number{
    padding: 5px 20px;
  }
  #deal-product-deal__time{
    padding: 5px 20px;
  }
  #deal-product-deal__time-number{
    font-size: 16px
  }
  #deal-product-product{
    padding: 15px 0
  }
  #deal-product-desc{
    width: 100%;
  }
  #deal-product-btn{
    width: 100%;
  }
  #deal-product-title{
    line-height: normal
  }
  #deal-product-desc{
    line-height: normal;
    font-size: 16px
  }
  .modal-get-code .modal-container{
    width: 360px !important;
  }
  #modal-get-code__product-text-desc{
    display: none !important;
  }
  .deal-product-img{
    margin-bottom: 10px
  }
  #modal-get-code__product-img{
    height: 200px;
    margin-bottom: 10px
  }
  #deal-branch__tab-infor-img{
    height: 200px;
    margin-bottom: 10px
  }
  #section-profile__right{
    margin: 20px 0
  }
  .desc-footer > p {
    width: 100%;
  }
  .deal-item__main-desc{
    display: none !important;
  }
  .deal-item__status{
    text-align: left
  }
  .border-right{
    border: none
  }
  .border-left{
    border: none
  }
}
@media only screen and (max-width: 768px) {
  .main-content{
    top: 0
  }
  #header-search--absolute {
    position: relative;
    text-align: center;
    background: #e56593
  }
  #header-search{
    padding: 10px 0 !important;
    text-align: center;
  }
  #header-search__login{
    position: relative;
    bottom: -10px;
    border-radius: 0px;
  }
  #how-it-work-content > div{
    padding: 10px 0
  }
  .section-main{
    padding-bottom: 20px
  }
  #section-footer {
    padding-top: 50px;
  }
  .mobile-padding{
    padding: 0px 15px
  }
  #deal-product-deal{
    width: 100%;
    margin: 0
  }
  #deal-product-deal__number{
    padding: 5px 20px;
  }
  #deal-product-deal__time{
    padding: 5px 20px;
  }
  #deal-product-deal__time-number{
    font-size: 16px
  }
  #deal-product-product{
    padding: 15px 0
  }
  #deal-product-desc{
    width: 100%;
  }
  #deal-product-btn{
    width: 100%;
  }
  #deal-product-title{
    line-height: normal
  }
  #deal-product-desc{
    line-height: normal;
    font-size: 16px
  }
  .modal-get-code .modal-container{
    width: 360px !important;
  }
  #modal-get-code__product-text-desc{
    display: none !important;
  }
  .deal-product-img{
    margin-bottom: 10px
  }
  #modal-get-code__product-img{
    height: 200px;
    margin-bottom: 10px
  }
  #deal-branch__tab-infor-img{
    height: 200px;
    margin-bottom: 10px
  }
  #section-profile__right{
    margin: 20px 0
  }
  .desc-footer > p {
    width: 100%;
  }
  .deal-item__main-desc{
    display: none !important;
  }
  .deal-item__status{
    text-align: left
  }
  .border-right{
    border: none
  }
  .border-left{
    border: none
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .mobile-padding{
    padding: 0px 15px
  }
  #deal-product-desc{
    width: 100%;
  }
  #modal-get-code__product-img{
    height: 400px;
    margin-bottom: 10px
  }
  #deal-branch__tab-infor-img{
    height: 400px;
    margin-bottom: 10px
  }
  .desc-footer > p {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  #deal-product-desc{
    width: 100%;
  }
  #modal-get-code__product-img{
    height: 400px;
    margin-bottom: 10px
  }
  #deal-branch__tab-infor-img{
    height: 400px;
    margin-bottom: 10px
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
