<template>
  <transition> 
    <div>
      <section id="section-banner" class="section-no-banner">
        <search-bar :classCss="'header-no-banner'"/>
      </section>
      <section id="section-profile">
        <div class="container">
          <div class="row">
            <left-side />
            <div class="col-md-9">
              <div id="section-profile__right">
                <div class="col-md-6 no-padding border-right">
                  <div id="section-profile__info">
                    <div class="col-md-12 form-group" id="section-profile__info-title">
                      Thông tin ưu đãi 
                    </div>
                    <div class="col-md-6 form-group">
                      <span class="section-profile__info-span">Người nhận</span>
                      <span class="section-profile__info-label">{{discountCode.discountCode && discountCode.discountCode.accountFullName}}</span>
                    </div>
                    <div class="col-md-6 form-group">
                      <span class="section-profile__info-span">Số điện thoại</span>
                      <span class="section-profile__info-label">{{discountCode.discountCode && discountCode.discountCode.accountPhone}}</span>
                    </div>
                    <div class="col-md-12 form-group">
                      <span class="section-profile__info-span">Email</span>
                      <span class="section-profile__info-label">{{discountCode.discountCode && discountCode.discountCode.accountEmail}}</span>
                    </div>
                    <div class="col-md-12 form-group">
                      <span class="section-profile__info-span">Thời gian nhận ưu đãi</span>
                      <span class="section-profile__info-label">{{discountCode.discountCode && formatDateTime(discountCode.discountCode.createdDate,'DD/MM/YYYY hh:mm:ss')}}</span>
                    </div>
                    <div class="col-md-12 form-group">
                      <span class="section-profile__info-span">Thời gian dự kiến sử dụng</span>
                      <span class="section-profile__info-label">{{discountCode.discountCode && formatDateTime(discountCode.discountCode.dateBooking,'DD/MM/YYYY')}} - Từ: {{discountCode.discountCode && discountCode.discountCode.timeBooking}}</span>
                    </div>
                    <div class="col-md-12 form-group">
                      <span class="section-profile__info-span">Trạng thái</span>
                      <span class="section-profile__info-label" v-if="discountCode.discountCode && discountCode.discountCode.dateTimeUsedCode !== null">Đã sử dụng</span>
                      <span class="section-profile__info-label" v-if="discountCode.discountCode && discountCode.discountCode.dateTimeUsedCode === null">Chưa sử dụng</span>
                    </div>
                    <div class="col-md-12 form-group">
                      <div id="section-profile__qr-box">
                        <div id="section-profile__qr-box-head">
                          Mã sử dụng dịch vụ
                        </div>
                        <div id="section-profile__qr-box-main">
                          <div id="section-profile__qr-box-img">
                            <no-ssr>
                              <qrcode v-if="discountCode.discountCode" :value="discountCode.discountCode && discountCode.discountCode.code" :options="{ size: 150 }"></qrcode>
                            </no-ssr>
                          </div>
                          <div id="section-profile__qr-box-code">
                            {{discountCode.discountCode && discountCode.discountCode.code}}
                          </div>
                          <div id="section-profile__qr-box-note">
                            Vui lòng gọi 0905674000 nếu có thắc mắc.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 no-padding border-left">
                  <div id="section-profile__product">
                    <div class="col-md-12 form-group no-padding">
                      <div id="section-profile__product-img">
                        <img v-lazy="discountCode.product && discountCode.product.featureImage" :alt="discountCode.product && discountCode.product.name" />
                      </div>
                    </div>
                    <div class="col-md-12 form-group">
                      <div id="section-profile__product-title">
                       {{discountCode.campaign && discountCode.campaign.name}} - {{discountCode.product && discountCode.product.name}}
                      </div>
                    </div>
                    <div class="col-md-12 form-group">
                      <div id="section-profile__product-desc" v-html="discountCode.product && discountCode.campaign.description">
                      </div>
                    </div>
                    <div class="col-md-12 form-group">
                      <span class="section-profile__info-span">Thời gian áp dụng</span>
                      <!-- <span class="section-profile__info-label">8:30 - 12:30</span> -->
                      <span class="section-profile__info-label">{{discountCode.campaign && formatDateTime(discountCode.campaign.startDateTime,'DD/MM/YYYY')}} - {{discountCode.campaign && formatDateTime(discountCode.campaign.endDateTime,'DD/MM/YYYY')}}</span>
                    </div>
                    <div class="col-md-12 form-group">
                      <span class="section-profile__info-span">Áp dụng cho</span>
                      <div id="section-profile__product-branch">
                        <div id="section-profile__product-branch-img">
                          <img v-lazy="discountCode.branch && discountCode.branch.featureImage" :alt="discountCode.branch && discountCode.branch.name" />
                        </div>
                        <div id="section-profile__product-branch-info">
                          <div id="section-profile__product-branch-info-title">
                            {{discountCode.branch && discountCode.branch.name}}
                          </div>
                          <div id="section-profile__product-branch-info-address">
                            {{discountCode.branch && discountCode.branch.address}} - {{discountCode.branch && discountCode.branch.contactPhone}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 no-padding form-group">
                      <span class="section-profile__info-span">Bản đồ</span>
                      <div>
                        <GmapMap 
                          style="width: 100%; height: 300px;" 
                          :zoom="17" 
                          :center="{lat: marker.position.lat, lng: marker.position.lng}">
                          <GmapMarker
                            :position="marker.position"
                            />
                        </GmapMap>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>
<script>
import SearchBar from '@/components/commons/SearchBar'
import discountCodeApi from '@/assets/js/api/discountCode'
import funct from '@/assets/js/commons/functions'
import VueQrcode from '@xkeshi/vue-qrcode'
import LeftSide from '@/components/pages/profile/LeftSide'

export default {
  layout: 'master',
  components: {
    SearchBar,
    qrcode: VueQrcode,
    LeftSide
  },
  data() {
    return {
      discountCode: {},
      marker: {
        position: {
          lat: 16.0680636,
          lng: 108.2211148,
        }
      }
    }
  },
  methods: {
  formatDateTime (value, format) {
      return funct.formatDate(value, format)
    }
  },
  beforeMount () {
    if(!this.auth) {
      this.$router.push('/')
    }
    if(this.$route.params.code){
      discountCodeApi.getDetailCodeByCode(this.$authToken, this.$route.params.code).then(rs => {
        this.discountCode = rs
        this.marker.position.lat = parseFloat(rs.branch.latitude)
        this.marker.position.lng = parseFloat(rs.branch.longitude)
      }).catch(err => {
        this.$router.push('/profile')
        this.showNotification({
          title: 'Đã có lỗi xãy ra',
          message: `Đã có lỗi xãy ra, không tìm thấy dữ liệu.`, 
          type: 'error'
        })
      })
    }
  }
}
</script>