<template>
  <transition> 
    <div>
      <section id="section-banner" class="section-no-banner">
        <search-bar :classCss="'header-no-banner'"/>
      </section>
      <section id="section-profile">
        <div class="container">
          <div class="row">
            <left-side />
            <div class="col-md-9">
              <div id="section-profile__right">
                <div class="col-md-12 form-group">
                  <div id="deal-item-title">
                    Lịch sử hẹn
                  </div>
                </div>
                <div class="col-md-12 no-padding form-group" v-for="item in listCode.data" :key="item.discountCode.id">
                  <div class="deal-item">
                    <nuxt-link :to="`/profile/chi-tiet-uu-dai/${item.discountCode && item.discountCode.code}`" >
                      <div class="col-md-3">
                        <div class="deal-item__img">
                          <img v-lazy="item.product && item.product.featureImage" :alt="item.product && item.product.name" />
                        </div>
                      </div>
                      <div class="col-md-6 no-padding mobile-padding">
                        <div class="deal-item__main">
                          <div class="deal-item__main-title">
                            {{item.campaign && item.campaign.name}} - {{item.product && item.product.name}}
                          </div>
                          <!-- <div class="deal-item__main-desc" v-html="item.product && item.campaign.description">
                          </div> -->
                          <div class="deal-item__main-label">
                            Thời gian sử dụng ưu đãi
                          </div>
                          <div class="deal-item__main-time">
                            {{item.discountCode && formatDateTime(item.discountCode.dateBooking,'DD/MM/YYYY')}} - Từ: {{item.discountCode && item.discountCode.timeBooking}}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="deal-item__status">
                          <div class="deal-item__status-label">
                            Ngày nhận: {{item.discountCode && formatDateTime(item.discountCode.createdDate,'DD/MM/YYYY')}}
                          </div>
                          <div class="deal-item__status-icon" :class="[{ 'deal-item__status-icon-active': item.discountCode && item.discountCode.dateTimeUsedCode !== null }]">
                            <i class="fa fa-check-square-o fa-4x" aria-hidden="true"></i>
                          </div>
                          <div v-if="item.discountCode && item.discountCode.dateTimeUsedCode !== null" class="deal-item__status-status">
                            Đã sử dụng
                          </div>
                          <div v-else class="deal-item__status-status">
                            Chưa sử dụng
                          </div>
                        </div>
                      </div>
                    </nuxt-link>
                    <!-- <no-ssr>
                      <paginate v-if="listCode.meta !== undefined && listCode.meta.totalPage > 1" :page-count="listCode.meta.totalPage"
                          :click-handler="callPage"
                          :prev-text="'Prev'"
                          :next-text="'Next'"
                          :container-class="'pagination'"
                          :page-class="'page-item'">
                      </paginate>
                    </no-ssr> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>
<script>
import SearchBar from '@/components/commons/SearchBar'
import LeftSide from '@/components/pages/profile/LeftSide'
import discountCodeApi from '@/assets/js/api/discountCode'
import funct from '@/assets/js/commons/functions'
// import Paginate from 'vuejs-paginate/src/components/Paginate.vue'

export default {
  layout: 'master',
  components: {
    SearchBar,
    LeftSide
    // Paginate
  },
  data () {
    return {
      params: {
        page: 1,
        rowPerPage: 10,
        orderBy: 'createdDate',
        order: 'desc'
      },
      listCode: []
    }
  },
  methods: {
    fetchData () {
      discountCodeApi.getListDetailCode(this.$authToken, this.params).then(rs => {
        this.listCode = rs
      })
    },
    callPage (page) {
      this.params.page = page
      this.fetchData()
    },
    formatDateTime (value, format) {
      return funct.formatDate(value, format)
    }
  },
  beforeMount () {
    if(!this.auth) {
      this.$router.push('/')
    }
    this.fetchData()
  }
}
</script>