<template>
<transition> 
    <div>
      <section id="section-banner" class="section-no-banner">
        <search-bar :classCss="'header-no-banner'"/>
      </section>
      <section id="section-profile">
        <div class="container">
          <div class="row">
            <left-side />
            <div class="col-md-9">
              <div id="section-profile__right">
                <div class="col-md-12 form-group">
                  <div id="deal-item-title">
                    Thông tin cá nhân
                  </div>
                </div>
                <div class="col-md-12 form-group">
                  <form @submit="submitForm" class="form-horizontal" id="profile-update-form">
                    <div class="form-group" :class="$v.formData.userFullName.$error ? 'has-error' : ''">
                      <label class="control-label col-sm-2">Tên đầy đủ:</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" v-model="formData.userFullName" placeholder="Nhập họ tên">
                      </div>
                    </div>
                    <div class="form-group" :class="$v.formData.userEmail.$error ? 'has-error' : ''">
                      <label class="control-label col-sm-2" for="email">Email:</label>
                      <div class="col-sm-9">
                        <input class="form-control" v-model="formData.userEmail"  readonly="readonly" placeholder="Địa chỉ email" required="required" type="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Số điện thoại:</label>
                      <div class="col-sm-9">
                        <input class="form-control" v-model="formData.accountKitNumber" placeholder="Số điện thoại" required="required" type="text">
                      </div>
                    </div>
                    <div class="form-group"> 
                      <div class="col-sm-offset-2 col-sm-9">
                        <button type="submit" class="btn btn-primary">Cập nhật</button> &nbsp;&nbsp;
                        <button type="reset" class="btn btn-default">Hủy</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>
<script>
import SearchBar from '@/components/commons/SearchBar'
import { required } from 'vuelidate/lib/validators'
import LeftSide from '@/components/pages/profile/LeftSide'
import UploadPhoto from '@/components/ui-kits/upload-form'
import client from '@/assets/js/api/client-authen'

export default {
  layout: 'master',
  components: {
    SearchBar,
    LeftSide,
    UploadPhoto
  },
  data () {
    return {
      formData: {
        userFullName: '',
        userEmail: ''
      }
    }
  },
  validations: {
    formData: {
      userFullName: {required},
      userEmail: {required}
    }
  },
  methods: {
    uploadFeatureImage (data) {
      this.formData.avatar = data.url
    },
    submitForm (e) {
      e.preventDefault()
      if(!this.$v.$invalid) {
        client.updateCurrentUser(this.$authToken, this.formData).then(data => {
          console.log(data)
          this.showNotification({
            title: 'Cập nhật thành công',
            message: 'Thông tin cá nhân của bạn đã được cập nhật', 
            type: 'success'
          })
        })
      } else {
        this.showNotification({
          title: 'Đã có lỗi xảy ra', 
          message: 'Cập nhật thành công, kiểm tra lại dữ liệu', 
          type: 'error'
        })
      }
    }
  },
   beforeMount () {
    if(!this.auth) {
      this.$router.push('/')
    }
    this.formData = this.auth
   }
}
</script>
<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
  margin: 15px auto;
  max-width: 200px;
}
.preview-feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}
.btn-remove-feature-image {
  position: absolute;
  display: block;
  overflow: hidden;
  text-align: center;
  margin:0;
  padding:0;
  line-height: 22px;
  top:-5px ; right:-5px;
  border: 0;
  color: #fff;
  background: red;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>
