<template>
  <div style="background: #EEEEEE;">
    <nuxt/>
    <site-footer/>
    <login-modal />
  </div>
</template>

<script>
import SiteFooter from '@/components/commons/SiteFooter'
import LoginModal from '@/components/commons/LoginModal'
export default {
  components: {
    SiteFooter,
    LoginModal
  },
}
</script>

<style>

</style>
