<template>
  <transition>
    <div>
      <section id="section-banner">
        <search-bar :idCss="'header-search--absolute'"/>
        <div id="section-banner__banner">
          <img src="/img/banner-web.png" alt="">
        </div>
      </section>
      <section class="section-main">
        <div class="container">
          <div class="row">
            <div class="main-content">
              <how-it-work />
            </div>
          </div>
        </div>
      </section>
      <section class="section-main">
        <div class="container">
          <div class="row">
            <div class="main-content" style="top: 0">
              <category-bar :listCategory="listCategory"/>
              <hot-deal-section />
              <provider-section />
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>

<script>
import SearchBar from '@/components/commons/SearchBar'
import CategoryBar from '@/components/pages/home/CategoryBar'
import ProviderSection from '@/components/pages/home/ProviderSection'
import HotDealSection from '@/components/pages/home/HotDealSection'
import HowItWork from '@/components/pages/home/HowItWork'
import categoryApi from '@/assets/js/api/category'
import branchApi from '@/assets/js/api/branch'
import dealApi from '@/assets/js/api/deal'
import {mapSetters, mapGetters} from 'vuex'

export default {
  layout: 'master',
  components: {
    SearchBar,
    CategoryBar,
    ProviderSection,
    HotDealSection,
    HowItWork
  },
  async asyncData ({store}) {
    var paramsProvider = {
      parentId: -1,
      categoryId: -1,
      page: 1,
      rowPerPage: 8,
      orderBy: 'order',
      order: 'asc'
    }
    var paramsHotDeal = {

    }
    var promiseAll = await Promise.all([
      categoryApi.getAllCategory({ page: 1, rowPerPage: 7, isShowHome: 1,  orderBy: 'order', order: 'asc' }),
      store.dispatch('actionGetListProviders', paramsProvider)
    ])
    return {
      listCategory: promiseAll[0]
    }
  },
  methods: {

  },
  head() {
    return {
      title: this.seoHome.seoTitle,
      meta:[
          { hid : "description", name: "description", content: this.seoHome.seoDescription },
          { hid: "og:title",  property: "og:title", content: this.seoHome.seoTitle},
          { hid: "og:url",  property: "og:url", content: this.currentUrl },
          { hid: "og:description",  property: "og:description", content: this.seoHome.seoDescription  },
          { hid: "og:image",  property: "og:image", content: this.seoHome.featureImage },
          { hid: "twitter:title",  name: "twitter:title", content: this.seoHome.seoTitle },
          { hid: "twitter:description",  name: "twitter:description", content: this.seoHome.seoDescription },
          { hid: "twitter:image",  name: "twitter:image", content:  this.seoHome.featureImage },
      ],
      link: [
        { hid: 'canonical',  rel:"canonical" , href: this.currentUrl},
      ]
    };
  }
}
</script>
