<template>
  <login-modal
    v-if="$store.state.showLoginModal"
    @close="closeLoginModal"
    :size="'custom'"
    :width="'360px'"
    class="modal-login"
    :mbwidth= "'90%'"
    :showfooter="false"
    :showheader="false"
    >
    <div slot="body" class="login-box" v-click-outside="closeLoginModal">
      <div class="login-modal-text">Vui lòng đăng nhập để nhận mã ưu đãi</div>
      <div class="social-login">
        <div class="fb-btn cs_pointer" @click="loginFacebook">Đăng nhập bằng Facebook</div>
      </div>
    </div>
  </login-modal>
</template>

<script>
import LoginModal from '@/components/ui-kits/modal'
import AuthenApi from '@/assets/js/api/client-authen'
import {mapGetters} from 'vuex'
import {fbSdkConfig, ACCOUNT_KIT} from '@/assets/js/commons/constants'
import axios from 'axios'
import md5 from 'md5'

export default {
  components: {
    LoginModal
  },
  data () {
    return {
      autoInit: true
    }
  },
  methods: {
    loginFacebook(e) {
      let self = this
      FB.login(function (response) {
        if (response.authResponse) {
          //access_token = response.authResponse.accessToken; //get access token
          //user_id = response.authResponse.userID; //get FB UID
          FB.api('/me',
            { fields: "id,age_range,picture,email,first_name,gender,link,middle_name,name" }
            , function (response) {
            var data = {
              facebookId: response.id,
              avatar: "https://graph.facebook.com/" + response.id + "/picture?type=large",
              userEmail: response.email ? response.email: response.id+'@bgift.vn',
              address: "",
              userPassword: '',
              userFullName: response.name,
              facebookUrl: response.link,
              userGender: response.gender,
              userPhone: '',
              userTitle: '',
              birthday: '',
              district: '',
              province: '',
              ward: ''
            };
            AuthenApi.loginFacebook('',data).then((rs)=> {
              // self.$setAuthToken(rs.data.token, {expires: self.setDateExpire(rs.data.expTokenDate), path: '/'});
              // self.$setAuthRefreshToken(rs.data.refreshToken,
              //   {expires: self.setDateExpire(rs.data.expRefreshTokenDate), path: '/'})
              var loginRespon = rs.data
              AuthenApi.getCurrentUser(rs.data.token).then((us)=> {
                // self.$store.commit('SET_AUTH',us.data)
                var currentUser = us.data
                if(!currentUser.isAccountKitVerify || currentUser.accountKitNumber == null){
                  // var authToken = self.$authToken
                  // self.$removeAuthToken()
                  self.$store.commit('REMOVE_AUTH')
                  var state = md5(currentUser.id+''+ currentUser.serEmail+''+ 'bgift-secret')
                  self.closeLoginModal()
                  self.accountKit(state, currentUser, loginRespon)
                } else {
                  self.$setAuthToken(loginRespon.token, {expires: self.setDateExpire(loginRespon.expTokenDate), path: '/'});
                  self.$setAuthRefreshToken(loginRespon.refreshToken,
                      {expires: self.setDateExpire(loginRespon.expRefreshTokenDate), path: '/'})
                  self.closeLoginModal()
                  self.$store.commit('SET_AUTH',us.data)
                }
              }).catch(err => {
                self.closeLoginModal()
                self.showNotification({
                  title: 'Đã có lỗi xẩy ra. Vui lòng thử lại sau.',
                  message: `${err.data}`, 
                  type: 'error'
                })
              })
            })
          });
        } else {
          //user hit cancel button
          console.log('User cancelled login or did not fully authorize.');
        }
      },
      {
        scope: 'public_profile,email'
      });
    },
    setDateExpire(date){
      var dateTime = new Date()
      dateTime.setDate(dateTime.getDate() + date)
      return dateTime
    },
    accountKit(state, currentUser, loginRespon) {
      let self = this
      if(!self.isAccountKitInit){
        AccountKit.init(
          {
            appId: fbSdkConfig.appId, 
            state: state, 
            version: ACCOUNT_KIT.version,
            fbAppEventsEnabled: true,
            redirect: ACCOUNT_KIT.redirectUrl,
            debug: true,
            display: 'modal'
          }
        )
        self.$store.commit('SET_STATUS_ACCOUNT_KIT', true)
      }
      document.body.classList.add('modal-body-custom');
      var mainContentDivs = document.getElementsByClassName("main-content") //.style.zIndex = "0";
      if(mainContentDivs.length){
        for (let index = 0; index < mainContentDivs.length; index++) {
          const element = mainContentDivs[index];
          element.style.zIndex = "0"
        }
      }
      window.AccountKit.login(
        'PHONE', 
        {countryCode: '', phoneNumber: ''},
        function loginCallback(response) {
          if (response.status === "PARTIALLY_AUTHENTICATED") {
            var code = response.code;
            var csrf = response.state;
            if(csrf === state){
              var appId = fbSdkConfig.appId
              var secret = ACCOUNT_KIT.secret
              var version =ACCOUNT_KIT.version
              // Send code to server to exchange for access token
              self.getAccessToken(code, appId, secret, version, currentUser, loginRespon)
            }
          }
          else if (response.status === "NOT_AUTHENTICATED") {
            // handle authentication failure
            document.body.classList.remove('modal-body-custom');
            var mainContentDivs = document.getElementsByClassName("main-content") //.style.zIndex = "0";
            if(mainContentDivs.length){
              for (let index = 0; index < mainContentDivs.length; index++) {
                const element = mainContentDivs[index];
                element.style.zIndex = "1"
              }
            }
          }
          else if (response.status === "BAD_PARAMS") {
            // handle bad parameters
            document.body.classList.remove('modal-body-custom');
            var mainContentDivs = document.getElementsByClassName("main-content") //.style.zIndex = "0";
            if(mainContentDivs.length){
              for (let index = 0; index < mainContentDivs.length; index++) {
                const element = mainContentDivs[index];
                element.style.zIndex = "1"
              }
            }
          }
        }
      )
    },
    getAccessToken (code, appId, secret, version, currentUser, loginRespon) {
      var token_exchange_url = `https://graph.accountkit.com/${version}/access_token?grant_type=authorization_code&code=${code}&access_token=AA|${appId}|${secret}`
      axios.get(token_exchange_url).then(rs => {
        var user_access_token = rs.data.access_token
        this.getInfor(version, user_access_token, currentUser, loginRespon)
      })
    },
    getInfor (version, user_access_token, currentUser, loginRespon) {
      var me_endpoint_url = `https://graph.accountkit.com/${version}/me?access_token=${user_access_token}`
      axios.get(me_endpoint_url).then(rs => {
        var user_phone = rs.data.phone ? rs.data.phone.number : ''
        var auth = currentUser
        auth.isAccountKitVerify = true,
        auth.accountKitNumber = user_phone,
        // update account phone number
        AuthenApi.updateAccountKit(loginRespon.token, auth).then(rs => {
          this.$store.commit('SET_AUTH',rs.data)
          this.$setAuthToken(loginRespon.token, {expires: this.setDateExpire(loginRespon.expTokenDate), path: '/'});
          this.$setAuthRefreshToken(loginRespon.refreshToken, {expires: this.setDateExpire(loginRespon.expRefreshTokenDate), path: '/'})
          this.closeLoginModal()
          var mainContentDivs = document.getElementsByClassName("main-content") //.style.zIndex = "0";
          if(mainContentDivs.length){
            for (let index = 0; index < mainContentDivs.length; index++) {
              const element = mainContentDivs[index];
              element.style.zIndex = "1"
            }
          }
        }).catch(err => {
          this.closeLoginModal()
          this.showNotification({
            title: 'Đã có lỗi xẩy ra. Vui lòng thử lại sau.',
            message: `${err.data}`, 
            type: 'error'
          })
        })
      })
    },
  },
  mounted () {
    document.body.addEventListener('keyup', e => {
      if (e.keyCode === 27) {
        this.closeLoginModal()
      }
    })
  }
}
</script>

<style scoped>
.login-box {
    position: relative;
}
.login-box .logo {
    display: block;
    margin: 10px auto;
    max-height: 90px;
    width: auto;
}
.login-box .tabs {
    display: block;
    text-align: center;
}
.login-box .tabs > .tab-item {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 20px;
    border-bottom: 4px solid transparent;
    color: #777;
    font-weight: 600;
}
.login-box.login-box-mobile .tabs > .tab-item{
  padding: 5px 10px;
  margin: 0 5px;
}
.login-box .tabs > .tab-item.active {
    border-color: #FFC708;
    color: #333;
}
.login-box .social-login {
    margin: 30px 20px;
}
.login-box .social-login > .title {
    text-align: center;
    color: #505050;
}
.login-box .social-login > .fb-btn {
    display: block;
    background: #3FA0E9;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
}
.login-box .tab-content {
    padding: 10px 33px;
    width: 120%;
    position: relative;
    margin: 0 auto;
    background: #fff;
    left: -10%;
    border: 1px solid #eee;
}
.login-box .input-login {
    border:0;
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
}
/* .login-box .input-login:last-child {
    border-bottom:0;
} */
.input-login::-webkit-input-placeholder {
   text-align: center;
}

.input-login:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

.input-login::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

.input-login:-ms-input-placeholder {
   text-align: center;
}
.login-box .login-action {
    margin-top: 25px;
}
.login-box .btn-login {
    display: block;
    width: 100%;
    border:0;
    background: #FFC708;
    padding: 15px 0;
    text-align: center;
    color:#fff;
    font-weight: bold;
    font-size: 16px;
}
.login-box .btn-label {
    position: relative;
    top: 15px;
    margin-bottom: 15px;
}
.login-box .btn-close-login-modal {
    position: absolute;
    right:-25px;
    top:-35px;
    width: 26px;
    height: 26px;
    border:0;
    border-radius: 50%;
    background: rgba(0,0,0,1);
    color: #fff;
}
.login-modal-text{
  font-weight: 500;
  font-size: 20px;
  color: #3E3E3E;
  line-height: 31px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 20px
}

</style>
