<template>
  <div :id="idCss">
    <div class="container">
      <div class="row">
        <div id="header-search" :class="classCss">
          <div class="col-md-2 col-sm-4 ">
            <div id="header-search__logo">
              <nuxt-link to="/">
                <img src="/img/logo.png" alt="Bgift">
              </nuxt-link>
            </div>
          </div>
          <div class="col-md-8 col-sm-4 ">
            <!-- <div id="header-search__search-bar">
              <div id="header-search__local">
                <select>
                  <option value="">Đà Nẵng</option>
                  <option value="">Hồ Chí Minh</option>
                  <option value="">Hà Nội</option>
                </select>
              </div>
              <div id="header-search__other">
                <select>
                  <option value="">Tất cả</option>
                </select>
              </div>
              <div id="header-search__keyword">
                <span><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" placeholder="Tìm khuyến mãi hoặc địa điểm">
              </div>
            </div> -->
          </div>
          <div class="col-md-2 col-sm-4  no-padding">
            <div id="header-search__login">
              <div v-if="!auth" @click="showLoginModal" id="header-search__user">
                Đăng Nhập
              </div>
              <div v-else id="header-search__user">
                <nuxt-link to="/profile" :title="`Thông tin cá nhân: ${auth.userFullName}`">
                  <span id="header-search__user--name">
                    {{auth.userFullName}}
                  </span>
                </nuxt-link>
                <div class="clear-fix"></div>
                |
                <span id="header-search__user--icon">
                  <i title="Thoát" @click="logout" class="fa fa-sign-out" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['idCss','classCss'],
  methods: {
    logout() {
      this.$removeAuthToken()
      this.$store.commit('REMOVE_AUTH')
      this.$router.push('/')
    }
  }
}
</script>

<style>

</style>
