<template>
  <section id="section-footer" :class="$route.path !== '/' ? 'footer-select-deal':''">
  
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="logo-footer">
            <img src="/img/logo-footer.png" alt="">
          </div>
          <div class="desc-footer" v-html="footerText">
          </div>
        </div>
        <div class="col-md-3 col-sm-6 no-padding mobile-padding">
          <div class="footer-title">
            Về Chúng Tôi
          </div>
          <div class="nav-footer">
            <ul>
              <li><nuxt-link to="/quy-dinh-su-dung">Quy định sử dụng</nuxt-link></li>
              <li><nuxt-link to="/cau-hoi-thuong-gap">Câu hỏi thường gặp</nuxt-link></li>
              <li><nuxt-link to="/hop-tac-voi-bgift">Hợp tác với BGift</nuxt-link></li>
              <li>Kết nối với BGift: 
                <a class="social-btn" href="https://www.facebook.com/BGiftApp/" target="_blank"><i class="fa fa-facebook-square" style="color: #4267b2" aria-hidden="true"></i></a>
                <a class="social-btn" href="https://www.instagram.com/bgiftapp/" target="_blank"><i class="fa fa-instagram" style="color: #d10869" aria-hidden="true"></i></a>
                <a class="social-btn" href="#" target="_blank"><i class="fa fa-envelope-o" style="color: #ea4335" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4  col-sm-6">
          <div class="footer-title">
            Thông tin liên hệ
          </div>
          <div class="nav-footer">
            <ul>
              <li>Địa chỉ: Tầng 5,Tòa nhà Quảng Đông - 108 Núi Thành, Đà Nẵng</li>
              <li>Email: bgiftvn@gmail.com</li>
              <li>Hotline: 0905674000</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <fb-chat></fb-chat>
  </section>
</template>
<script>
import {mapGetters} from 'vuex'
import FbChat from '@/components/ui-kits/fb-chat'
export default {
  components: {
    FbChat
  },
  computed: {
    ...mapGetters({
      footerText: 'GET_TEXT_FOOTER'
    })
  }
}
</script>

<style>

</style>
