<template>
  <transition>
    <div>
      <section id="section-banner">
        <search-bar :idCss="'header-search--absolute'"/>
        <div id="section-banner__banner">
          <img src="/img/banner-web.png" alt="">
        </div>
      </section>
      <section class="section-main">
        <div class="container">
          <div class="row">
            <div class="main-content">
              <how-it-work />
            </div>
          </div>
        </div>
      </section>
      <section class="section-main">
        <div class="container">
          <div class="row">
            <div class="main-content" style="top: 0">
              <div class="landing-title">{{text.groupText && text.groupText.title}}</div>
              <div class="landing-content" v-html="text.groupText && text.groupText.description"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>

<script>
import SearchBar from '@/components/commons/SearchBar'
import HowItWork from '@/components/pages/home/HowItWork'
import groupTextApi from '@/assets/js/api/grouptext'
import {mapSetters, mapGetters} from 'vuex'

export default {
  layout: 'master',
  components: {
    SearchBar,
    HowItWork
  },
  async asyncData ({store}) {
    var text = await groupTextApi.getGroupTextBySlug('','hop-tac-voi-bgift')
    return {
      text: text.data
    }
  },
  methods: {
    
  },
  head() {
    return {
      title: this.seoHome.seoTitle,
      meta:[
          { hid : "description", name: "description", content: this.seoHome.seoDescription },
          { hid: "og:title",  property: "og:title", content: this.seoHome.seoTitle},
          { hid: "og:url",  property: "og:url", content: this.currentUrl },
          { hid: "og:description",  property: "og:description", content: this.seoHome.seoDescription  },
          { hid: "og:image",  property: "og:image", content: this.seoHome.featureImage },
          { hid: "twitter:title",  name: "twitter:title", content: this.seoHome.seoTitle },
          { hid: "twitter:description",  name: "twitter:description", content: this.seoHome.seoDescription },
          { hid: "twitter:image",  name: "twitter:image", content:  this.seoHome.featureImage },
      ],
      link: [
        { hid: 'canonical',  rel:"canonical" , href: this.currentUrl},
      ]
    };
  }
}
</script>